.card {
    position: relative;
    height: 100%;

    img {
        width: auto;
        height: 100%;
        object-fit: contain;
    }

    .cardDetails {
        display: none;
        padding: 2rem 1rem;
        width: 100%;
        height: 100%;
        position: absolute;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        top: 0;
        right: 0;

        .title {
            margin-bottom: 5px;
            color: rgba(255, 255, 255, 0.6);
            font-weight: 600;

            span {
                color: white;
            }
        }

        .originalTitle {
            margin-bottom: 5px;
            color: rgba(255, 255, 255, 0.6);
            font-weight: 600;

            span {
                color: white;
            }
        }

        .rating {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            font-weight: 600;

            span {
                color: white;
                margin-right: 5px;
            }
        }

        .language {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            font-weight: 600;

            span {
                color: white;
                margin-right: 5px;
            }
        }

        .overview {
            color: rgba(255, 255, 255, 0.6);
            font-weight: 600;
            overflow: hidden;
            line-clamp: 6;
            -webkit-line-clamp: 6;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;

            span {
                color: white;
            }
        }
    }
}

.card:hover {
    cursor: pointer;

    .cardDetails {
        display: inline-block;
    }
}