.card {
    position: relative;
    height: 100%;

    img {
        width: auto;
        height: 100%;
        object-fit: contain;
    }

    .cardDetails {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        top: 0;
        right: 0;

        .overview {
            overflow: hidden;
            line-clamp: 6;
            -webkit-line-clamp: 6;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
        }
    }
}

.card:hover {
    cursor: pointer;

    .cardDetails {
        display: inline-block;
    }
}