* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.card {
  border: 1px solid black;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}